{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Introduction </title>
    <link rel ="stylesheet"  href="introduction.css">
    <style>
        div {
            background-color: lightgrey;
            width: 300px;
            border: 15px solid green;
            padding: 50px;
            margin: 30px;
        }
        </style>
</head>

<body>
    <center>
    <img src="https://cdn.newsapi.com.au/image/v1/4d982d382be6d8043618fe89366b80d3" Height= "250px"  width="300 px" 2 px solid black>
    <img src="https://mediacache.naturaltherapypages.com.au/media_library_ntp/articles/3732/how-to-become-a-naturopath-633b76142dc67.jpg" Height= "250px"  width="300 px">
    <img src="https://as2.ftcdn.net/v2/jpg/02/29/18/71/1000_F_229187148_qoSEx9EhUvanNNkv35z3K8jO1ivEbBDI.jpg" Height="250px"  width= "300 px">
    </center>
    <br>
    <center>

<h2>
<i>
    <b>
        What is NATUROPATHY. ..??? &#128105
    </b>
</i>
<h2>

    <h3>
        <center>
    <div>
        <p>
        <b>
        This is the action of human being himself of what is good for him. With the help of this study in self the person educates himself about <b>HOW HE HIMSELF CAN TREAT HIS BODY.." &#128522;  </b>
        </p>
    </div>

        </center>
    </h3>

    <hr>
    <h2>
        Hello there , hope you are all good . In order to have a quick health-check , Subscribe.
    </h2>
    <br>
    

    <left>
        <h3>
    <ul>
        <li>Eat good and healthy food.</li>
        <li>Regular Exercise. </li>
        <li>Regular Yoga.</li>
        <li>Have a regular and good sleep schedule. </li>
    </ul>
</h3>
</left>

<hr>

<br>
CLICK HERE TO GET A SESSION registered  --

    <a href="form.html">Click here</a>


</form>

    <btn btn-danger>
        <btn href="form.html"> 
    <btn btn-danger>
        </btn>

<h3>
<div class="pagination">
    <a href="#">&laquo;</a>
    <br>
    <a href="introduction.html">1</a>
    <a href="form.html">Form</a>
    <a href="naturopath.html">3</a>
    <br>
    <a href="#">&raquo;</a>
</div>
</h3>

</body>
</html>

{% endblock %}